<div class="formContain">

    <div class="contact">
        <h2>Contact Info</h2>
        <div class="contactText">
            <h3>Location</h3>
            <p>1525 Awesome Lane, Los Angeles, CA</p>
        </div>
        <div class="contactText">
            <h3>Subscriptions</h3>
            <p>+1 (603)535-4592

                +1 (603)535-4556</p>
        </div>
        <div class="contactText">
            <h3>E-mail
            </h3>
            <p>Contact@xgym.com

                www.xgym.com</p>
        </div>

    </div>
    <form action="" class="form">
        <h2>Get in touch </h2>

        <div class="deFlex">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
        </div>
        <input type="text" placeholder="subjecy">
        <textarea placeholder="message"></textarea>
        <button>Send Message</button>

    </form>

</div>