.contactContain{
    background-image: url(../../../assets/img/header-bg/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
   
}
.contactContain h1{
    font-size: 70px;
    border-bottom: 4px solid var(--color1);
    color: var(--blanco);
    text-align: center;
 
}
iframe{
    width: 100%;
}

@media (max-width: 700px) {
   
    .contactContain h1{
        font-size: 30px;
       
     
    }
}