<section class="footerContain">
    <div class="footer">
        <div class="textFooter">
            <h3>Location</h3>
            <a href=""><i class="fa fa-map"></i> 1525 Awesome Lane, Los Angeles, CA</a>
            <a href=""><i class="fa fa-map"></i> 1234 Street, San Francisco, CA</a>
        </div>
        <div class="textFooter">
            <h3>Subscriptions</h3>
            <a href=""><i class="fa fa-phone"></i> +1 (603)535-4592</a>
            <a href=""><i class="fa fa-phone"></i> +1 (123)456-7890</a>
        </div>
        <div class="textFooter">
            <h3>E-mail</h3>
            <a href=""><i class="fa fa-envelope"></i> Contact@xgym.com</a>
            <a href=""><i class="fa fa-envelope"></i> www.xgym.com</a>
        </div>
        <div class="textFooter">
            <h3>Social Media</h3>
            <div class="redes-sociales">
                <a href="#"><i class='fa fa-instagram'></i></a>
                <a href="#"> <i class='fa fa-linkedin'></i></a>
                <a href="#"><i class='fa fa-twitter'></i></a>
            </div>
        </div>
    </div>

    <div class="developer">
        <p>Copyright ©2023 - Desarrollado por</p>
        <a href="https://www.juan-rivera-developer.net/" target="_blank"> <img
                src="../../../assets/img/logo-juan-rivera-developer.png" alt="logo-juan-rivera-developer"></a>
    </div>
</section>