<div class="trainerContain">
    <h2>Meet the <span>Trainers</span></h2>
    <div class="trainersCards">
        <div class="cardTrainer">
            <img src="../../../assets/img/trainers/1.jpg" alt="">
            <h4>Michael Smith</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod voluptatum dolores porro eum incidunt
            </p>
        </div>
        <div class="cardTrainer">
            <img src="../../../assets/img/trainers/2.jpg" alt="">
            <h4>Jessica Black</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod voluptatum dolores porro eum incidunt
            </p>
        </div>
        <div class="cardTrainer">
            <img src="../../../assets/img/trainers/3.jpg" alt="">
            <h4>James Brown</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod voluptatum dolores porro eum incidunt
            </p>
        </div>
        <div class="cardTrainer">
            <img src="../../../assets/img/trainers/4.jpg" alt="">
            <h4>Paula Carlton</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod voluptatum dolores porro eum incidunt
            </p>
        </div>

    </div>

</div>