<div class="blogDetailContain">

    <div class="blogDetail">
        <div class="detail">
            <img src="../../../assets/img/blog/1.jpg" alt="">
            <h2>5 Exercises for a six pack</h2>
            <p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula
                fringilla
                ut vitae orci. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa.
                Proin
                vulputate congue rutrum. Fusce lobortis a enim eget tempus.</p>
            <a href="" class="more">Read More</a>
        </div>

        <div class="detail">
            <img src="../../../assets/img/blog/2.jpg" alt="">
            <h2>Do you want strong arms? Here’s our tips</h2>
            <p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula
                fringilla
                ut vitae orci. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa.
                Proin
                vulputate congue rutrum. Fusce lobortis a enim eget tempus.</p>
            <a href="" class="more">Read More</a>
        </div>
        <div class="detail">
            <img src="../../../assets/img/blog/3.jpg" alt="">
            <h2>Fitness Competition for begginers</h2>
            <p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula
                fringilla
                ut vitae orci. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa.
                Proin
                vulputate congue rutrum. Fusce lobortis a enim eget tempus.</p>
            <a href="" class="more">Read More</a>
        </div>
    </div>

    <div class="blogAside">
        <form class="search">
            <input type="text">
            <button>
                <img src="../../../assets/img/search-outline.svg" alt="">
            </button>
        </form>

        <div class="categorias">
            <h3>Categories</h3>
            <div class="deFlex">
                <p>Body Building</p>
                <span>2</span>
            </div>
            <div class="deFlex">
                <p>Nutritions Tips</p>
                <span>4</span>
            </div>
            <div class="deFlex">
                <p>Events & Competitions</p>
                <span>6</span>
            </div>
            <div class="deFlex">
                <p>Workout</p>
                <span>9</span>
            </div>
            <div class="deFlex">
                <p>Fitness</p>
                <span>7</span>
            </div>
            <div class="deFlex">
                <p>Wellness Treatments</p>
                <span>8</span>
            </div>
            <div class="deFlex">
                <p>Wellness Treatments</p>
                <span>5</span>
            </div>

        </div>

        <div class="post">
            <h3>Recent Posts</h3>
            <div class="cardPost">
                <img src="../../../assets/img/blog/blog-widget/1.jpg" alt="">
                <div class="deColumn">
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <span>February 17, 2019</span>
                </div>
            </div>

            <div class="cardPost">
                <img src="../../../assets/img/blog/blog-widget/2.jpg" alt="">
                <div class="deColumn">
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <span>February 17, 2019</span>
                </div>
            </div>
            <div class="cardPost">
                <img src="../../../assets/img/blog/blog-widget/3.jpg" alt="">
                <div class="deColumn">
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <span>February 17, 2019</span>
                </div>
            </div>

        </div>

        <div class="tags">
            <h3>Tags</h3>
            <div class="tags_span">
                <span>sport</span>
                <span>fitness</span>
                <span>wheight lifting</span>
                <span>nutrition</span>
                <span>tips</span>
                <span>fitted</span>
                <span>abs</span>
            </div>

        </div>

    </div>
</div>