<div class="calculateContain">

    <div class="img_bg">

    </div>
    <div class="calculateText">

        <h2>Calculate your <span>BMI</span></h2>
        <p>Vivamus libero mauris, bibendum eget sapien ac, ultrices rhoncus ipsum nec sapien.Vivamus libero mauris,
            bibendum eget sapien ac, ultrices rhoncus ipsum nec sapien.</p>

        <form action="" class="formCalculate">
            <input type="numer" placeholder="Weight">
            <input type="numer" placeholder="Height">
            <button>Calculate</button>
            <div class="result">
                <p></p>
            </div>
            <label for="">Vivamus libero mauris, bibendum eget sapien ac, ultrices rhoncus ipsum nec sapien.Vivamus
                libero mauris, bibendum.</label>
        </form>

    </div>

</div>