<div class="servicesContain">

    <h1>The real <span>workout</span> starts when you want to stop.</h1>
    <div class="cardsServices">

        <div class="cardService">
            <img src="../../../assets/img/fitness-outline.svg" alt="">
            <h3>Intense Workouts</h3>
            <p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula
                fringilla ut vitae orci.</p>
        </div>
        <div class="cardService">
            <img src="../../../assets/img/color-filter-outline.svg" alt="">
            <h3>Intense Workouts</h3>
            <p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula
                fringilla ut vitae orci.</p>
        </div>
        <div class="cardService">
            <img src="../../../assets/img/stopwatch-outline.svg" alt="">
            <h3>Intense Workouts</h3>
            <p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula
                fringilla ut vitae orci.</p>
        </div>

    </div>

</div>