<div class="bgContainer">
    <div>

    </div>
    <div class="textBg">
        <h2>Pay now and get a 25% <span>Discount</span></h2>
        <div class="deFlex">
            <img src="../../../assets/img/check-icon.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <div class="deFlex">
            <img src="../../../assets/img/check-icon.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>

        </div>
        <div class="deFlex">
            <img src="../../../assets/img/check-icon.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>

        </div>
        <a href="" class="btn_anchor">Become a Member</a>

    </div>
</div>