:root {
  --text-color: #000000;
  --text-color2:#838080;
  --bg-color: #f2f2f2;
  --bg2-color: #0b0b0b;
  --color1:#fcff18  ;
  --color2:#242424  ;
  --color3:#242424  ;
  --blanco: #fff;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  background-color: var(--blanco);
}

a {
 
  text-decoration: none;
}

.btn_anchor{
  background-color: var(--color1);
  padding: 14px 40px;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 7px;
  margin-top: 1rem;
}

.home h1,a,p{
 
  animation: slideFromLeft 1s ease-in-out forwards;
  -webkit-animation: slideFromLeft 1s ease-in-out forwards;
  
  
}
.card-scroll{ opacity: 0; animation: slideFromCenter 0.55s ease-in-out forwards; -webkit-animation: slideFromCenter 0.55s ease-in-out forwards;
}

.img-container{ opacity: 0; animation: slideUp 1s ease-in-out forwards; -webkit-animation: slideUp 1s ease-in-out forwards;
}


@keyframes slideFromLeft {
  from {
      opacity: 0;
      transform: translateX(-20%);
      -webkit-transform: translateX(-20%);
      -moz-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
      -o-transform: translateX(-20%);
}
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes slideFromRight {
  from {
      opacity: 0;
     
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideFromCenter {
from {
    opacity: 0;
   
}
to {
    opacity: 10;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
}

@keyframes slideUp {
  from {
      opacity: 0;
     
  }
  to {
      opacity: 10;
      transform: translateY(-4%);
      -webkit-transform: translateY(-4%);
      -moz-transform: translateY(-4%);
      -ms-transform: translateY(-4%);
      -o-transform: translateY(-4%);
}
  }
