<div class="clasesContain">

    <div class="clasesCard">
        <img src="../../../assets/img/fitness-outline.svg" alt="">
        <h3>Bodybuilding</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga reprehenderit iusto incidunt dolore, vitae nam
            sapiente autem id facere magnam.
        </p>

    </div>
    <div class="clasesCard">
        <img src="../../../assets/img/fitness-outline.svg" alt="">
        <h3>Finess</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga reprehenderit iusto incidunt dolore, vitae nam
            sapiente autem id facere magnam.
        </p>

    </div>
    <div class="clasesCard">
        <img src="../../../assets/img/fitness-outline.svg" alt="">
        <h3>Aerobics</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga reprehenderit iusto incidunt dolore, vitae nam
            sapiente autem id facere magnam.
        </p>

    </div>
    <div class="clasesCard">
        <img src="../../../assets/img/fitness-outline.svg" alt="">
        <h3>Pilates</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga reprehenderit iusto incidunt dolore, vitae nam
            sapiente autem id facere magnam.
        </p>

    </div>
    <div class="clasesCard">
        <img src="../../../assets/img/fitness-outline.svg" alt="">
        <h3>Wheight Lifting
        </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga reprehenderit iusto incidunt dolore, vitae nam
            sapiente autem id facere magnam.
        </p>

    </div>
    <div class="clasesCard">
        <img src="../../../assets/img/fitness-outline.svg" alt="">
        <h3>Nutrition</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga reprehenderit iusto incidunt dolore, vitae nam
            sapiente autem id facere magnam.
        </p>

    </div>

</div>